a:hover, a:visited, a:link, a:active{
  text-decoration: none !important;
  text-align: center;
  outline: none;
  box-shadow: none;
}

a{
  text-decoration: none;
  outline: none;
  background-color: #cedbf3;
}

.category-view{
  justify-content: center;
  text-align: center;
  font-family: "Arial Rounded MT";
}

.category-list{
  display: grid;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding-left: 10px;
  text-decoration: none;
  font-family: "Arial Rounded MT";
}

.category{
  place-items: center; 
  border-radius: 50px;
  border: 4px solid #f0bb9a;
  background:  #cedbf3;
  padding:25px;
  width: 400px;
  height: 150px;
  margin-bottom: 25px;
  margin-top: 20px;
  box-shadow:  15px 15px 30px #879abe,
  -15px -15px 30px #ddfcff;
  font-family: "Arial Rounded MT";
  text-decoration: none;
}

.App-link{
  text-decoration: none
}

.card{
  text-decoration: none;
}


.card-body{
  background-color: #cedbf3;
  text-decoration: none;

}

.card-title{
  font-weight: bold;
  text-decoration: none;
}

.header{
  background-color: #17a2b8;
  text-align: center;
  color:lightsalmon;
  font-size:225%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar-text{
  font-size: xx-large;
  padding-right: 5px;
  padding: 5px;
  border-style: inset;
}

.navbar-custom{
  background-color: lightsalmon;
}

.no-border-plz{
  text-decoration: none;
  border: none !important;
}

.no-border-plz.card{
  text-decoration: none;
}

button{
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius: 25px !important;
  box-sizing: border-box;
  text-decoration:none;
  font-family: "Arial Rounded MT";
  font-weight:300;
  color:#FFFFFF;
  background-color:#237bff;
  text-align:center;
  transition: all 0.2s;
  border: none;
  margin: 10px;
}

button:hover{
  background-color:#5297ff

}
.new-category-button{
  margin: 10px;
  border-radius: 25px;
}

.new-category-form{
  margin: 10px;
}

label{
  width:auto;
  clear:left;
  text-align:left;
  padding-right:5px;
  margin-top: 10px;
  margin-bottom: 10px;
}



.discussion-list{
  display: grid;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding-left: 10px;
  text-decoration: none;
  font-family: "Arial Rounded MT";
}

.discussion{
  place-items: center; 
  border-radius: 50px;
  border: 4px solid #f0bb9a;
  background:  #cedbf3;
  padding:25px;
  width: 400px;
  height: 150px;
  margin-bottom: 25px;
  margin-top: 20px;
  box-shadow:  15px 15px 30px #879abe,
  -15px -15px 30px #ddfcff;
  font-family: "Arial Rounded MT";
  text-decoration: none;
}

.discussion-view{
  display: grid;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px; 


}


.msgClass
{
  position: relative;
  background-color:#ffffff;
  border-radius:6px;
	border:1px solid #dcdcdc;
	display:grid;
  vertical-align: middle;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
  height: 40px;
  line-height: 30px;
  width: 650px;
  margin: auto;
  margin-top:3px ;
  


}

.msg-text
{
  color:black;

}

.msgClass-2
{
  right: 0px;
  position: absolute;
	width: 550px;
	background-color: #fff;
	padding: 1.125em 1.5em;
	font-size: 14px;
	border-radius: 1rem;
  box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
  margin-top: 1.5em;
  color:black;
}

.msgClass-2::before {
	content: '';
	position: absolute;
	width: auto;
	height: auto;
	bottom: 100%;
	left: 1.5em; 
	border: .75rem solid transparent;
	border-top: none;

	border-bottom-color: #fff;
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}


.send-button
{
  display:inline-block;
  padding:0.3em 1.2em;
  margin:2px;
  border-radius: 25px !important;
  box-sizing: border-box;
  text-decoration:none;
  font-family: "Arial Rounded MT";
  font-weight:300;
  color:#FFFFFF;
  background-color:#237bff;
  text-align:center;
  transition: all 0.2s;
  border: none;
  width:100px;



  position:fixed;
  width:10%;
  bottom: 0px;
  right: 330px;
  z-index:4000;
  margin: auto;

}

.send-msg-form
{
  background-color: #ffffff;
  position:fixed;
  width:30%;
  bottom: 0px;
  z-index:4000;
  margin: auto;
  margin-bottom: 3px;



}





/*https://freefrontend.com/css-speech-bubbles/*/